.listContainer {
  width: 15.5%;
  min-height: 120px;
  display: inline-grid;
  margin: 20px 10px;
  background-color: rgba(80,80,80,0.9);
  border: 3px solid #0099ff;
  position: relative;
  border-radius: 5px;
}

.deleteThisList {
  background-color: #ff3333;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
}

.listNameHolder input{
  width: 80%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: inherit;
  color: black;
  border: none;
  padding: 5px;
  font-size: 25px;
}

.toggleDisableButton {
  background-color: black;
  color: white;
  position: absolute;
  top: 40px;
  left: 8px;
  width: 40px;
  height: 35px;
  font-size: 25px;
  border: none;
}

.toggleDisableButton:hover {
  background-color: #0099ff;
}

.addNewCard {
  background-color: #ff3333;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
}

.cardComponents {
  margin-top: 80px;
  margin-bottom: 45px;
}
