.boardContainer {
  height: 98%;
  background-color: #dd3420;
  color: white;
  padding-top: 20px;
}

.addNewList {
  display: block;
  width: 15%;
  height: 50px;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 0 auto;
  border: 2px dotted white;
  border-radius: 10px;
  font-size: 20px;
}

.listComponents {
  text-align: center;
}
