.cardModalWindowBG {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.cardModalWindow {
  display: block;
  width: 40%;
  height: 55%;
  background-color: black;
  border: 3px solid black;
  margin: 7.3% auto;
  position: relative;
}

.closeIt {
  background-color: #ff3333;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
}

.contentContainer {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 98%;
  height: 80%;
}

.cardNameContainer p {
  position: absolute;
  left: 5px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.cardNameContainer input {
  position: absolute;
  left: 5px;
  top: 40px;
  color: white;
  font-size: 20px;
  width: 40%;
  height: 30px;
  border: 2px solid #ff3333;
  background-color: black;
}

.cardDescriptionContainer p {
  position: absolute;
  left: 5px;
  color: white;
  top: 75px;
  font-size: 15px;
  font-weight: bold;
}

.cardDescriptionContainer textarea {
  position: absolute;
  left: 5px;
  color: white;
  top: 115px;
  width: 60%;
  height: 30%;
  font-size: 20px;
  background-color: black;
  border: 3px solid #ff3333;
}

.dueDateContainer p {
  position: absolute;
  left: 5px;
  color: white;
  top: 250px;
  font-size: 15px;
  font-weight: bold;
}

.dueDateContainer input {
  position: absolute;
  left: 5px;
  color: white;
  top: 295px;
  font-size: 20px;
  width: 30%;
  height: 30px;
  background-color: black;
  border: 2px solid #ff3333;
}

.cardLabelContainer p {
  position: absolute;
  left: 5px;
  color: white;
  top: 330px;
  font-size: 15px;
  font-weight: bold;
}

.cardLabelContainer button {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 370px;
  border: none;
}

.whiteLabel {
  background-color: white;
  left: 5px;
}

.greenLabel {
  background-color: green;
  left: 95px;
}

.redLabel {
  background-color: red;
  left: 190px;
}

.blueLabel {
  background-color: blue;
  left: 285px;
}

.yellowLabel {
  background-color: yellow;
  left: 380px;
}

.priorityContainer p {
  position: absolute;
  right: 120px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.priorityItemContainer {
  width: 50px;
  position: absolute;
  right: 125px;
  top: 40px;
}

.priorityItemContainer button {
  width: 30px;
  height: 29px;
  margin: 3px;
  background-color: #ff3333;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.saveChanges button {
  background-color: #ff3333;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 70px;
  height: 40px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 20px;
}

.saveChanges button:hover {
  color: black;
  background-color: #0099ff;
}
