html {
  background-color: black;
}

header {
  width: 99.1%;
  padding: 0px;
  position: fixed;
  top: 1.2%;
  left: 0.4%;
  background-color: #0099ff;
}

a {
  text-decoration: none;
}

.home-icon {
  font-size: 1.8rem;
  padding: 2px;
  margin-left: 5px;
  background-color: #1B1B1B;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
}

.home-icon:hover {
  background-color: #ff3333;
  color: black;
  border-color: black;
}

header h1 {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 29.5%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 2rem;
  color: black;
  text-shadow: 0px 0px 3px #0099ff;
  display: inline-block;
}

header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 19.4%;
  font-family: 'Charmonman', cursive;
  font-size: 1.2rem;
  color: black;
  text-shadow: 0px 0px 5px #0099FF;
  display: inline-block;
}

#root {
  margin-top: 65px;
  height: 850px;
}
