html {
  background-color: black;
}

header {
  width: 99.1%;
  padding: 0px;
  position: fixed;
  top: 5px;
  left: 8px;
  background-color: #dd3420;
}

.home-icon {
  font-size: 30px;
  padding: 2px;
  margin-left: 5px;
  background-color: #1B1B1B;
  border: 2px solid black;
  border-radius: 3px;
}

.home-icon:hover {
  background-color: #0099ff;
  border-color: black;
}

header h1 {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 32%;
  font-family: 'Fredericka the Great', cursive;
  font-size: 33px;
  color: black;
  text-shadow: 0px 0px 3px #0099ff;
  display: inline-block;
}

header h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 18.5%;
  font-family: 'Charmonman', cursive;
  color: black;
  text-shadow: 0px 0px 5px #0099FF;
  display: inline-block;
}

#root {
  margin-top: 65px;
  height: 850px;
}
